:root{
    --cor-fundo: #0d1b1e;
    --cor-principal: #1b2e2b;
    --cor-secundaria: #2d4a43; 
    --cor-destaque: #39ff14; /* Verde neon vibrante */
    --cor-detalhe: #ffe600;  /* Amarelo vibrante */
    --cor-texto: #f0fdf4;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: var(--cor-detalhe);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-